.movimientoSeisImagenes{    transform:translate(0.1rem,0.1rem);
    transition: transform 1s, background-color 1s;
    cursor: pointer;
    
    &:hover{      transform:translate(0.1rem,0.1rem) scale(1.05,1.05);
                    background-color: $color-secundario;
        
    
            }

}
    
.movimientoImagenesInicio{      transform:translate(0.1rem,0.1rem);
        transition: transform 1s, background-color 1s;
            &:hover{    transform:translate(0.1rem,0.1rem) scale(1.05,1.05);
                        background-color: $color-secundario;
            
                    }

}

.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: rgb(231, 219, 147);
background-clip: border-box;
border: 0.80rem solid $color-primario;
border-radius: 1rem;
.card-img-top{ object-fit: cover;}
.card-body{ border-top: 0.50rem solid $color-blanco;}
}
    

/*formulario*//*formulario*//*formulario*//*formulario*//*formulario*//*formulario*/

.formularioImagen{  
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
.imagenFormulario{ border-radius: 20px;
                }

}




.formularioCaracteristicas{     margin: 20px;
    
.bordeFormulario{   border: $color-primario solid 3px;
            border-radius: 3px;
            margin-top: 2rem;

        }

.contenedorEnviar{  background-color: $color-secundario;
            border: $color-primario solid 0.5rem;
            border-radius: 3px;
            padding: 5px;
            color: $color-primario;
            font-weight: $negrita;
            margin-top: 1rem;
            

        }
#menuMovimientoFormulario:hover{  color: $color-blanco;
            background-color: $color-primario;
            border: $color-secundario solid 0.5rem;

        }
        
.espaciado{     margin-top: 1rem;
        font-size: 3rem;
        font-weight: $negrita;
        text-align: center;
        justify-content: center;
        
        
        .form-check-input:checked {
            background-color: $color-primario;
            border-color: $color-secundario; }
          
        .form-check-input:focus {
            border-color: $color-secundario;
            outline: 0; }
    
    
    
    }



           
}