@media screen and (max-width: 768px) {

    .tituloBlanco{ color: $color-primario;
                    font-weight: bold;
                    text-decoration: underline;}
    
    .cajaFija{ display: none;}
        
    .letrasBlancasInicio{font-size: 2rem;}
    
    h1{ font-size: 5rem;
        color: $color-blanco;
        text-align: center;}
    
    .imagenEjemploUno{background-image: url(../assets/images/rsz_imagen_header_mq.jpg);}
    .imagenMuestraCinco{background-image: url(../assets/images/contacto/rsz_muestra_mq.jpg);}
    .imagenEjemploDos{background-image: url(../assets/images/dulces/rsz_1muestra_mq.jpg);}
    .imagenEjemploTres{background-image: url(../assets/images/tortas/rsz_3muestra_mq.jpg);}
    .imagenEjemploCuatro{background-image: url(../assets/images/especial/rsz_2muestra_mq.jpg);}
    }
    