$color-primario: #C2185B;
$color-secundario: #F8BBD0;
$color-blanco: white;
$color-rojo: red;

$tipografia-general:'Roboto Condensed', sans-serif;
$negrita: bold;
$subrayado: underline;
$texto-sin-decoracion: none;
$color-de-letras: black;